<div class="container">
    <h2>会員一覧</h2>
      <div class="row text-center">
        <table>
            <thead>
                <tr>
                    <th>会員ID</th>
                    <th>氏名</th>
                    <th>メールアドレス</th>
                    <th>会員ステータス</th>
                </tr>
            </thead>
        <div class="row">    
            <tbody>
                <% @customers.each do |customer| %>
                      <tr>
                          <td><%= customer.id %></td>
                          <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
                          <td><%= customer.email %></td>
                          <td><%= customer.customer_status %></td>
                      </tr>
                <% end %>
            </tbody>
        </table>
        </div>
      </div>
</div>